@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

@theme {
  --font-sans: var(--font-sans);
}

@layer base {
  * {
    font-family: var(--font-sans);
  }
}
